{% extends "base.html" %}
{%load static %}

{% block title %} Error Reservation {% endblock title %}

{% block content %}

<section class="bg-6 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
                          <h5><b>THE BEST IN TOWN</b></h5>
                          <h1 class="mt-30 mb-15">Modify your Reservation!</h1>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>

<section class="story-area left-text center-sm-text">
        <div class="container">
                <div class="heading mb-sm-10"><h3>Unfortunatelly this reservation does not exist</h3>
                        <h5 class="mt-10 mb-30">Maybe reservation number is wrong</h5>
                </div>
</section>


{% endblock content %}
