{% extends "base.html" %}
{%load static %}

{% block title %} Leave a comment {% endblock title %}

{% block content %}

<section class="bg-6 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
                          <h5><b>THE BEST IN TOWN</b></h5>
                          <h1 class="mt-30 mb-15"> Leave a comment!</h1>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>

<section class="story-area left-text center-sm-text">
        <div class="container">
                <div class="heading mb-sm-10"><h3>Let us know what you like or not in our Restaurant</h3>
                        <h5 class="mt-10 mb-30"> We take care of our clients and we would love to hear their opinions</h5>
                </div>
        </div>


        <div class="container">
              {% if messages %}
                <ul class="messages heading mb-sm-10">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
                        {% endfor %}
                </ul>
              {% endif %}
        </div>



        <div class="container">
                        <div class="row">
                        <div class="col-md-6"><h5><form action="" method="post" alt="">
                              {{ form.errors }}
                              {{ form.non_field_errors }}
                              {{ form.as_p }}
                              {% csrf_token %}
                              <input name="submit_button" type="submit" value="Submit">
                        </form></h5>
                        </div>
                        <div class="col-md-6"><img class="mb-30" src="{% static 'images/leave_a_comment.jpg' %}" alt=""></div>

                        </div>

        </div>
</section>


{% endblock content %}
