{% extends "base.html" %}
{%load static %}

{% block title %} Menu {% endblock title %}

{% block content %}



<section class="bg-5 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
                                <h5><b>THE BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Menu</h1>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>

<!-- Pizzas Menu -->

<section>
          <div class="container">
                  <div class="heading mb-sm-10"><h3>Pizza Menu</h3></div>
                  <div class="row">
                  {% for pizza in pizzas %}
                        <div class="col-md-6">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{{pizza.image.url}}"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>{{pizza.name}}</b><b class="color-primary float-right">{{pizza.price}} €</b></h5>
                                                <p class="pr-70"> {{pizza.ingredients}}</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                          </div><!--col-md-6 -->

                  {% endfor %}


                </div><!--s-right-->
              </div><!-- sided-90x -->
            </div><!-- food-menu -->
</section>

<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <h4 class="font-30 font-sm-20  center-text mb-25"> Unless you are willing to eat <b>Pasta!</b> </h4>
                <h4 class="font-30 font-sm-20  center-text mb-25"> We can help with that too!</h4>
        </div><!-- container -->
</section>

<section>
        <div class="container">
                <div class="heading mb-sm-10"><h3>Pasta Menu</h3></div>
                <div class="row">
                  {% for pasta in pastas %}
                        <div class="col-md-6">
                                <div class="sided-90x mb-30">

                                        <div class="s-left"><img class="br-3" src="{{pasta.image.url}}"  alt="Menu Image"></div><!--s-left-->

                                        <div class="s-right">
                                                <h5 class="mb-10"><b>{{pasta.name}}</b><b class="color-primary float-right">{{pasta.price}} €</b></h5>
                                                <p class="pr-70">{{pasta.ingredients}}</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                  {% endfor %}

                </div><!-- row -->
        </div><!-- container -->
</section>
<!-- Pastas Menu -->
{% endblock content %}
