{% extends "base.html" %}
{%load static %}

{% block title %} Menu {% endblock title %}

{% block content %}



<section class="bg-5 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
                                <h5><b>THE BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Your Profile</h1>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <h2>See your profile!</h2>
                </div>              
                        <div class="col-md-6">
                                <h5 class="mb-30">User Name: {{ user.username }}</h5>
                        </div><!-- col-md-6 -->

                        <div class="col-md-6">
                                <h5 class="mb-30"> User Eamil: {{ user.email }} </h5>
                        </div><!-- col-md-6 -->

        </div><!-- container -->
</section>

{% endblock content %}
