{%load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>{% block title %}Fresco Basilico {% endblock title %} </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'images/fav.png' %}">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fonts/beyond_the_mountains-webfont.css' %}" type="text/css"/>

        <!-- Stylesheets -->
        <link href="{% static 'plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugin-frameworks/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
        <link href="{% static 'common/styles.css' %}" rel="stylesheet">

</head>
<body>

<header>
        <div class="container">
                <ul class="main-menu font-mountainsre" id="main-menu">

                        <li><a href="{% url 'dashboard'%}">HOME</a></li>
                        <li><a href="{% url 'about_us' %}">ABOUT US</a></li>
                        <li><a href="{% url 'menu' %}">MENU</a></li>
                        <li><a href="{% url 'add' %}">TABLE RESERVATION</a></li>
                        <li><a href="{% url 'comment' %}">LEAVE A COMMENT</a></li>
                        <li><a href="{% url 'modification' %}">MODIFY RESERVATION</a></li>
                        <!-- <li><a href="{% url 'profile' %}"> USER: {{ user.username }} </a></li>
                        <li><a href="{% url 'logout_home' %}"> LOG OUT </a></li>
                        <li><a > USER UNLOGGED! </a></li>
                        <li><a href="{% url 'login' %}"> LOGIN </a></li>
                        <li><a href="{% url 'register' %}"> REGISTER </a></li> -->
                </ul>
                <div class="clearfix"></div>
        </div><!-- container -->
</header>
<!-- //--------------------------- page content -------------------------// -->
{% block content %}{% endblock content %}
<!-- //--------------------------- page content end ---------------------// -->

<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">
                <h2 class="mt-30 mb-15"> Fresco Basilico</h2>

                <div class="pt-30">
                        <p class="underline-secondary"><b>Address:</b></p>
                        <p>481 Creekside Lane Avila Beach, CA 93424 </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Phone:</b></p>
                        <a href="tel:+53 345 7953 32453 ">+53 345 7953 32453 </a>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Email:</b></p>
                        <a href="mailto:yourmail@gmail.com"> yourmail@gmail.com</a>
                </div>

                <ul class="icon mt-30">
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
                </ul>

                <p class="color-light font-9 mt-50 mt-sm-30"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="{% static 'plugin-frameworks/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'plugin-frameworks/bootstrap.min.js'%}"></script>
<script src="{% static 'plugin-frameworks/swiper.js'%}"></script>
<script src="{% static 'common/scripts.js'%}"></script>

</body>
</html>
